code {
  border-radius: 6px;
}

.highlight {

  > .chroma {

    border-style: solid;
    border-width: 1px;

    border-color: darken($global-border-color, 6%);

    [theme=dark] & {
      border-color: darken($global-border-color-dark, 6%);
    }

    code, pre, table, tr, td {
      background: $code-full-background-color !important;

      [theme=dark] & {
        background: $code-full-background-color-dark !important;
      }
    }

    .code-header {
      background: darken($code-full-background-color, 8%) !important;

      [theme=dark] & {
        background: darken($code-full-background-color-dark, 6%) !important;
      }
    }

    &.open {
      .code-header {
        background: darken($code-full-background-color, 3%) !important;

        [theme=dark] & {
          background: darken($code-full-background-color-dark, 4%) !important;
        }
      }

      border-color: $global-border-color;

      [theme=dark] & {
        border-color: $global-border-color-dark;
      }
    }
  }
}
