:root {
  .home[posts] {
    .summary {
        border-bottom: 1px dashed $global-border-color !important;
    }
  }

  .single {
    .content {
      .footnotes {
        hr {
          border-top: 1px dashed $global-border-color !important;
        }
      }

      > h2 > .header-mark::before {
        content: "#" !important;
      }
    }
  }
}

html.dark {
  --global-font-color: #b9b9c5 !important;
  --global-font-secondary-color: #8d8d8e !important;
  --global-link-color: #b9b9c5 !important;
  --global-link-hover-color: #ffffff !important;

  code:not(.chroma) {
    color: #ffffff !important;
  }
}
